HELP.md
.gradle
*/build/
*.log
*.log.*.gz

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# ignore properties files

/front/application.properties
/srvAdd/application.properties
/srvMul/application.properties
/dbWriter/application.properties

/front/gcp.json
/srvAdd/gcp.json
/srvMul/gcp.json
/dbWriter/gcp.json
